openapi: 3.0.2
info:
  title: Veritrance API
  version: 3.0.0
  contact:
    name: Veritrance
  description: |
    Veritrance API

servers:
  - url: "https://api.veritrans.co.jp:443"
    description: Production
paths:
  "/paynow/v2/Add/account":
    post:
      operationId: paynow-v2-add-account
      summary: 会員情報を追加します。
      description: |
        ・会員 ID を登録します。
        ・会員 ID の登録と同時に、カード情報および継続課金情報を紐付けることが可能です。
          継続課金情報を設定する際は、カード情報の同時設定が必要です。
          カード情報を指定した場合、有効性確認が行われます。
        ・会員 ID の登録と同時に、カード情報のみを紐付けることが可能です。
      tags:
        - Account
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: ./models/request.v2.yaml#/AccountAddRequest
      responses:
        "200":
          description: 成功した場合
          content:
            application/json:
              schema:
                $ref: ./models/response.v2.yaml#/AccountResponse
  "/paynow/v2/Update/account":
    post:
      operationId: paynow-v2-update-account
      summary: 会員 ID の「入会年月日」を更新します。
      description: |
        ・会員 ID の「入会年月日」を更新します。
      tags:
        - Account
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: ./models/request.v2.yaml#/AccountUpdateRequest
      responses:
        "200":
          description: 成功した場合
          content:
            application/json:
              schema:
                $ref: ./models/response.v2.yaml#/PayNowIdResponse
  "/paynow/v2/Delete/account":
    post:
      operationId: paynow-v2-delete-account
      summary: 会員 ID の会員情報を、指定された「退会年月日」に削除します。
      description: |
        ・会員 ID の会員情報を、指定された「退会年月日」に削除します。
      tags:
        - Account
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: ./models/request.v2.yaml#/AccountDeleteRequest
      responses:
        "200":
          description: 成功した場合
          content:
            application/json:
              schema:
                $ref: ./models/response.v2.yaml#/PayNowIdResponse
  "/paynow/v2/Get/cardinfo":
    post:
      operationId: paynow-v2-get-cardinfo
      summary: 会員 ID に紐付けられた課金情報を取得します
      description: |
        ・会員 ID に紐付けられた課金情報を取得します。
      tags:
        - Cardinfo
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                params:
                  $ref: ./models/request.v2.yaml#/CardInfoGetRequest
                authHash:
                  type: string
      responses:
        "200":
          description: 成功した場合
          content:
            application/json:
              schema:
                $ref: ./models/response.v2.yaml#/AccountResponse
  "/paynow/v2/Add/cardinfo":
    post:
      operationId: paynow-v2-add-cardinfo
      summary: 会員 ID にカード情報を紐付けて登録します
      description: |
        ・会員 ID にカード情報を紐付けて登録します。
        ・当該会員 ID に複数のカード情報を紐付けることが可能です。 ただし、同じカード情報を 2 回登録することはできません。
          （一度削除したカード情報を、再度登録することは可能です）
      tags:
        - Cardinfo
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                params:
                  $ref: ./models/request.v2.yaml#/CardInfoAddRequest
                authHash:
                  type: string
      responses:
        "200":
          description: 成功した場合
          content:
            application/json:
              schema:
                $ref: ./models/response.v2.yaml#/AccountResponse
  "/paynow/v2/Update/cardinfo":
    post:
      operationId: paynow-v2-update-cardinfo
      summary: 当該会員 ID、およびカード ID に紐付けられたカード情報を更新します
      description: |
        ・当該会員 ID、およびカード ID に紐付けられたカード情報を更新します。 
      tags:
        - Cardinfo
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                params:
                  $ref: ./models/request.v2.yaml#/CardInfoUpdateRequest
                authHash:
                  type: string
      responses:
        "200":
          description: 成功した場合
          content:
            application/json:
              schema:
                $ref: ./models/response.v2.yaml#/AccountResponse
  "/paynow/v2/Delete/cardinfo":
    post:
      operationId: paynow-v2-delete-cardinfo
      summary: 会員 ID に紐付けられたカード情報を削除します
      description: |
        ・会員 ID に紐付けられたカード情報を削除します。
      tags:
        - Cardinfo
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                params:
                  $ref: ./models/request.v2.yaml#/CardInfoDeleteRequest
                authHash:
                  type: string
      responses:
        "200":
          description: 成功した場合
          content:
            application/json:
              schema:
                $ref: ./models/response.v2.yaml#/PayNowIdResponse
  "/paynow/v2/Authorize/card":
    post:
      operationId: paynow-v2-authorize-cardinfo
      summary: 決済の与信を行います
      tags:
        - Card
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                params:
                  $ref: ./models/request.v2.yaml#/CardAuthorizeRequest
                authHash:
                  type: string
      responses:
        "200":
          description: 成功した場合
          content:
            application/json:
              schema:
                $ref: ./models/response.v2.yaml#/CardAuthorizeResponse
  "/paynow/v2/ReAuthorize/card":
    post:
      operationId: paynow-v2-reAuthorize-cardinfo
      summary: 決済の再与信を行います
      tags:
        - Card
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                params:
                  $ref: ./models/request.v2.yaml#/CardReAuthorizeRequest
                authHash:
                  type: string
      responses:
        "200":
          description: 成功した場合
          content:
            application/json:
              schema:
                $ref: ./models/response.v2.yaml#/CardAuthorizeResponse
  "/paynow/v2/Capture/card":
    post:
      operationId: paynow-v2-capture-cardinfo
      summary: 決済の売上確定を行います
      tags:
        - Card
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                params:
                  $ref: ./models/request.v2.yaml#/CardCaptureRequest
                authHash:
                  type: string
      responses:
        "200":
          description: 成功した場合
          content:
            application/json:
              schema:
                $ref: ./models/response.v2.yaml#/CardCaptureResponse
  "/paynow/v2/Cancel/card":
    post:
      operationId: paynow-v2-cancel-cardinfo
      summary: 決済のキャンセルを行います
      tags:
        - Card
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                params:
                 $ref: ./models/request.v2.yaml#/CardCancelRequest
                authHash:
                  type: string
      responses:
        "200":
          description: 成功した場合
          content:
            application/json:
              schema:
                $ref: ./models/response.v2.yaml#/CardCancelResponse