/*
Veritrance API

Veritrance API 

API version: 3.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package veritrance_paynow

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)


// CardinfoApiService CardinfoApi service
type CardinfoApiService service

type ApiPaynowV2AddCardinfoRequest struct {
	ctx context.Context
	ApiService *CardinfoApiService
	accountId *string
	cardNumber *string
	cardExpire *string
	securityCode *string
}

func (r ApiPaynowV2AddCardinfoRequest) AccountId(accountId string) ApiPaynowV2AddCardinfoRequest {
	r.accountId = &accountId
	return r
}

func (r ApiPaynowV2AddCardinfoRequest) CardNumber(cardNumber string) ApiPaynowV2AddCardinfoRequest {
	r.cardNumber = &cardNumber
	return r
}

func (r ApiPaynowV2AddCardinfoRequest) CardExpire(cardExpire string) ApiPaynowV2AddCardinfoRequest {
	r.cardExpire = &cardExpire
	return r
}

func (r ApiPaynowV2AddCardinfoRequest) SecurityCode(securityCode string) ApiPaynowV2AddCardinfoRequest {
	r.securityCode = &securityCode
	return r
}

func (r ApiPaynowV2AddCardinfoRequest) Execute() (*AccountResponse, *http.Response, error) {
	return r.ApiService.PaynowV2AddCardinfoExecute(r)
}

/*
PaynowV2AddCardinfo 会員 ID にカード情報を紐付けて登録します

・会員 ID にカード情報を紐付けて登録します。
・当該会員 ID に複数のカード情報を紐付けることが可能です。 ただし、同じカード情報を 2 回登録することはできません。
  （一度削除したカード情報を、再度登録することは可能です）


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPaynowV2AddCardinfoRequest
*/
func (a *CardinfoApiService) PaynowV2AddCardinfo(ctx context.Context) ApiPaynowV2AddCardinfoRequest {
	return ApiPaynowV2AddCardinfoRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AccountResponse
func (a *CardinfoApiService) PaynowV2AddCardinfoExecute(r ApiPaynowV2AddCardinfoRequest) (*AccountResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CardinfoApiService.PaynowV2AddCardinfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paynow/v2/Add/cardinfo"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.cardNumber == nil {
		return localVarReturnValue, nil, reportError("cardNumber is required and must be specified")
	}
	if r.cardExpire == nil {
		return localVarReturnValue, nil, reportError("cardExpire is required and must be specified")
	}
	if r.securityCode == nil {
		return localVarReturnValue, nil, reportError("securityCode is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarFormParams.Add("accountId", parameterToString(*r.accountId, ""))
	localVarFormParams.Add("cardNumber", parameterToString(*r.cardNumber, ""))
	localVarFormParams.Add("cardExpire", parameterToString(*r.cardExpire, ""))
	localVarFormParams.Add("securityCode", parameterToString(*r.securityCode, ""))
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPaynowV2DeleteCardinfoRequest struct {
	ctx context.Context
	ApiService *CardinfoApiService
	accountId *string
	cardId *string
}

func (r ApiPaynowV2DeleteCardinfoRequest) AccountId(accountId string) ApiPaynowV2DeleteCardinfoRequest {
	r.accountId = &accountId
	return r
}

func (r ApiPaynowV2DeleteCardinfoRequest) CardId(cardId string) ApiPaynowV2DeleteCardinfoRequest {
	r.cardId = &cardId
	return r
}

func (r ApiPaynowV2DeleteCardinfoRequest) Execute() (*PayNowIdResponse, *http.Response, error) {
	return r.ApiService.PaynowV2DeleteCardinfoExecute(r)
}

/*
PaynowV2DeleteCardinfo 会員 ID に紐付けられたカード情報を削除します

・会員 ID に紐付けられたカード情報を削除します。


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPaynowV2DeleteCardinfoRequest
*/
func (a *CardinfoApiService) PaynowV2DeleteCardinfo(ctx context.Context) ApiPaynowV2DeleteCardinfoRequest {
	return ApiPaynowV2DeleteCardinfoRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PayNowIdResponse
func (a *CardinfoApiService) PaynowV2DeleteCardinfoExecute(r ApiPaynowV2DeleteCardinfoRequest) (*PayNowIdResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PayNowIdResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CardinfoApiService.PaynowV2DeleteCardinfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paynow/v2/Delete/cardinfo"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarFormParams.Add("accountId", parameterToString(*r.accountId, ""))
	if r.cardId != nil {
		localVarFormParams.Add("cardId", parameterToString(*r.cardId, ""))
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPaynowV2GetCardinfoRequest struct {
	ctx context.Context
	ApiService *CardinfoApiService
	accountId *string
}

func (r ApiPaynowV2GetCardinfoRequest) AccountId(accountId string) ApiPaynowV2GetCardinfoRequest {
	r.accountId = &accountId
	return r
}

func (r ApiPaynowV2GetCardinfoRequest) Execute() (*AccountResponse, *http.Response, error) {
	return r.ApiService.PaynowV2GetCardinfoExecute(r)
}

/*
PaynowV2GetCardinfo 会員 ID に紐付けられた課金情報を取得します

・会員 ID に紐付けられた課金情報を取得します。


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPaynowV2GetCardinfoRequest
*/
func (a *CardinfoApiService) PaynowV2GetCardinfo(ctx context.Context) ApiPaynowV2GetCardinfoRequest {
	return ApiPaynowV2GetCardinfoRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AccountResponse
func (a *CardinfoApiService) PaynowV2GetCardinfoExecute(r ApiPaynowV2GetCardinfoRequest) (*AccountResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CardinfoApiService.PaynowV2GetCardinfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paynow/v2/Get/cardinfo"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarFormParams.Add("accountId", parameterToString(*r.accountId, ""))
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPaynowV2UpdateCardinfoRequest struct {
	ctx context.Context
	ApiService *CardinfoApiService
	accountId *string
	cardId *string
	cardNumber *string
	cardExpire *string
	securityCode *string
}

func (r ApiPaynowV2UpdateCardinfoRequest) AccountId(accountId string) ApiPaynowV2UpdateCardinfoRequest {
	r.accountId = &accountId
	return r
}

func (r ApiPaynowV2UpdateCardinfoRequest) CardId(cardId string) ApiPaynowV2UpdateCardinfoRequest {
	r.cardId = &cardId
	return r
}

func (r ApiPaynowV2UpdateCardinfoRequest) CardNumber(cardNumber string) ApiPaynowV2UpdateCardinfoRequest {
	r.cardNumber = &cardNumber
	return r
}

func (r ApiPaynowV2UpdateCardinfoRequest) CardExpire(cardExpire string) ApiPaynowV2UpdateCardinfoRequest {
	r.cardExpire = &cardExpire
	return r
}

func (r ApiPaynowV2UpdateCardinfoRequest) SecurityCode(securityCode string) ApiPaynowV2UpdateCardinfoRequest {
	r.securityCode = &securityCode
	return r
}

func (r ApiPaynowV2UpdateCardinfoRequest) Execute() (*AccountResponse, *http.Response, error) {
	return r.ApiService.PaynowV2UpdateCardinfoExecute(r)
}

/*
PaynowV2UpdateCardinfo 当該会員 ID、およびカード ID に紐付けられたカード情報を更新します

・当該会員 ID、およびカード ID に紐付けられたカード情報を更新します。 


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPaynowV2UpdateCardinfoRequest
*/
func (a *CardinfoApiService) PaynowV2UpdateCardinfo(ctx context.Context) ApiPaynowV2UpdateCardinfoRequest {
	return ApiPaynowV2UpdateCardinfoRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AccountResponse
func (a *CardinfoApiService) PaynowV2UpdateCardinfoExecute(r ApiPaynowV2UpdateCardinfoRequest) (*AccountResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CardinfoApiService.PaynowV2UpdateCardinfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paynow/v2/Update/cardinfo"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.cardId == nil {
		return localVarReturnValue, nil, reportError("cardId is required and must be specified")
	}
	if r.cardNumber == nil {
		return localVarReturnValue, nil, reportError("cardNumber is required and must be specified")
	}
	if r.cardExpire == nil {
		return localVarReturnValue, nil, reportError("cardExpire is required and must be specified")
	}
	if r.securityCode == nil {
		return localVarReturnValue, nil, reportError("securityCode is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarFormParams.Add("accountId", parameterToString(*r.accountId, ""))
	localVarFormParams.Add("cardId", parameterToString(*r.cardId, ""))
	localVarFormParams.Add("cardNumber", parameterToString(*r.cardNumber, ""))
	localVarFormParams.Add("cardExpire", parameterToString(*r.cardExpire, ""))
	localVarFormParams.Add("securityCode", parameterToString(*r.securityCode, ""))
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
